@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

:root {

  --background1: #ffffff;
  --background2: #efefef;
  --background3: #d9d9d9;
  --background1-dark: #242424;
  --background2-dark: #141414;
  --background3-dark: #282828;
  --color2: #9B5377;
}

.cardcontainer {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 600ms ease-in-out;
}
.cardfront, .cardback{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  top: 0%;
  background: transparent;
  cursor: pointer;
}
.cardback{
  color: var(--color2);
  transform: rotateY(180deg);
  display: flex; 
  flex-direction: column;
  justify-content:space-evenly;
}

@theme inline {
  --color-background1: var(--background1);
  --color-background2: var(--background2);
  --color-background3: var(--background3);
  --color-background3-dark: var(--background3-dark);
  --color-background2-dark: var(--background2-dark);
  --color-background1-dark: var(--background1-dark);
  
  --font-Anonymous: var(--font-Anonymous);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: 500ms ease-in-out;
}
